<div class="wrapper">
  
  <div class="navbar">
    <div class="navbar-items">
      <div class="navbar-list">
        <i class="fas fa-list-ul"></i><span>Lists</span>
      </div>
      <div class="navbar-history">
        <i class="fas fa-history"></i><span>History</span>
      </div>
      <div class="add-category">
        <button (click)="setIsAdding()"><i class="fas fa-plus"></i><span>Add Category</span></button>
      </div>
    </div>
  </div>

  <div class="menu-categories">
    <input [(ngModel)]="categoriesTitle" *ngIf="isAdding" (keyup.enter)="onAddTitle()">
    <div class="menu-category">
      <app-menu-category *ngFor="let category of categories" [category]="category" (categoryTitle)="onDeleteCategory($event)"></app-menu-category>
    </div>
  </div>

</div>
