.wrapper {
display: flex;
flex-direction: row;
  // grid-template-columns: 10% 90%;
}

.navbar-vertical {
  display: grid;
  width: 15%;
  max-height: 140px;
  font-size: x-large;
  font-weight: bold;
  margin: 30px;
  padding: 10px;
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
}

.navbar-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-list,
.navbar-history {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.add-category button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
  border-radius: 5px;
  border: rgb(230, 230, 230);
  box-shadow: 2px 2px rgb(104, 104, 104);
  font-size: large;
}

.menu-category{
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.input-button{
  display: flex;
  margin-top: 30px;
}

.input-button input {
  // margin-top: 10px;
  margin-left: 15px;
  max-width: 400px;

}

.input-confirm{
  max-height: 38px;
  padding: 0;
  width: 85px;
  margin-left: 10px;
}


button:hover {
  background-color: rgb(73, 73, 73);
  color: white;
}

button:active {
  transform: translateY(4px);
}
