<form [formGroup]="itemForm" *ngIf="isAddMode">
  <label for="itemName">Item: </label>
  <input id="itemName" type="text" formControlName="itemName">
  <br>
  <label for="price">Price: </label>
  <input id="price" type="number" formControlName="price">
  <br>
  <label for="shop">Shop: </label>
  <input id="shop" type="text" formControlName="shop">
  <br>
  <label for="amountToBuy">Amount To Buy: </label>
  <input id="amountToBuy" type="number" formControlName="amountToBuy">
  <br>
  <button type="button" (click)="onUpdateForm()">Save</button>
  <button type="button" (click)="onCancelForm()">Cancel</button>
</form>

<div class="card">
  <!-- <div class="card-item">
    Item Name:  {{item.name}}
  </div>
  <div class="card-price">
    Price: {{item.price}}
  </div>
  <div class="card-shop">
    Shop: {{item.shop}}
  </div>
  <div class="card-amount">
    Amount: {{item.amountToBuy}}
  </div> -->
  <button type="button" (click)="onTest()">Delete</button>
</div>